<!doctype html>
<html>
  <head>
    <title>Bubble Tracker Data Webhook</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div id="container">
      <h1>Bubble Tracker Data Webhook</h1>

	  <p>That's it! You should now see a folder
		"<code>Dropbox/Apps/Bubble Tracker Webhooks</code>".
		<br>
	  </p>
	  <p>
		Put Bubble Tracker files (with the extension <code>.csv</code>)
		in that folder and watch them get converted!
	  </p>
	  
	  
    </div>
  </body>
</html>
